* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box header {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  color: #999;
  font-size: 20px;
}

.box .bos {
  width: 100%;
}

.box .bos ul {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 30px;
}

ol {
  width: 400%;
  height: 500px;
  display: flex;
  position: relative;
}

ol > li {
  position: absolute;
  left: 0;
  top: 0;
}

ol > li img {
  width: 100%;
  height: 500px;
}
